.jumbotron {
    background-image: url("../images/02-hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
}

.jumbotron img {
    height: 20%;
    width: 10%;
    margin-right: 100px;
    border-radius: 50%
    
}

.jumbotron h1 {
    background-color: aqua;
    width: 350px;
}

.intro {
    display: flex;
    align-items: center;
    margin-top: auto;
    font-size: large;
    background-color: aqua;
    width: 600px;
    height: 80px;

}
.card {
    width: 70%;
    margin: 10px;
}

.groups {
    margin-left: 60px;
}

.groups li {
    list-style: none;
}

.page-section {
    flex-wrap: nowrap;

}

.page-section-row>div {
    flex: 0 0 65%;
}

.subwork {
    margin-left: 80px;
}
